@model IEnumerable<Shoppica.UI.Models.ProductVM>

<div id="product_intro_info" class="grid_5">

    <div style="position: relative;">
        <h2><a href="product/getproductdetails/@Model.ToList()[0].Id">@Model.ToList()[0].ProductName</a></h2>

        @if (@Model.ToList()[0].Description.Length > 500)
        {
            <p class="s_desc"> @Model.ToList()[0].Description.Substring(0,500)</p>
        }
        else
        {
            <p class="s_desc"> @Model.ToList()[0].Description</p>

        }

        <div class="s_price_holder">
            @if (Model.ToList()[0].IsSpecial == true)
            {
                <p class="s_price s_promo_price">
                    <span class="s_old_price">
                        @string.Format("{0:0.00}",@Model.ToList()[0].UnitPrice) <span class="s_currency s_before">₺</span>
                    </span>
                    @string.Format("{0:0.00}",@Model.ToList()[0].Discount) <span class="s_currency s_before">₺</span>
                </p>
            }
            else
            {
                <p class="s_price"> @string.Format("{0:0.00}",@Model.ToList()[0].UnitPrice) <span class="s_currency s_before">₺</span></p>
            }

        </div>
    </div>

    @for (int i = 1; i < 5; i++)
    {
        <div style="position: relative; display: none;">
            <h2><a href="product/getproductdetails/@Model.ToList()[i].Id">@Model.ToList()[i].ProductName</a></h2>

            @if (@Model.ToList()[i].Description.Length > 500)
            {
                <p class="s_desc"> @Model.ToList()[i].Description.Substring(0,500)</p>
            }
            else
            {
                <p class="s_desc"> @Model.ToList()[i].Description</p>

            }

            <div class="s_price_holder">
                @if (Model.ToList()[i].IsSpecial == true)
                {
                    <p class="s_price s_promo_price">
                        <span class="s_old_price">
                            @string.Format("{0:0.00}",@Model.ToList()[i].UnitPrice) <span class="s_currency s_before">₺</span>
                        </span>
                        @string.Format("{0:0.00}",@Model.ToList()[i].Discount) <span class="s_currency s_before">₺</span>
                    </p>
                }
                else
                {
                    <p class="s_price"> @string.Format("{0:0.00}",@Model.ToList()[i].UnitPrice) <span class="s_currency s_before">₺</span></p>
                }

            </div>
        </div>
    }
</div>

<div id="product_intro_preview">
    <div class="slides_container">
        @foreach (var item in Model)
        {
            <div class="slideItem" style="display: none"><a href="product/getproductdetails/@item.Id"><img src="/images/product/@item.Image" alt="" /></a></div>
        }
    </div>
    <a class="s_button_prev" href="javascript:;"></a>
    <a class="s_button_next" href="javascript:;"></a>
</div>